@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

.nav-item {
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-item a {
    text-decoration: none;
    float: right;
    color: red;
}

.pic-block {

}

.headline-block {

}